.appBody {
  display: grid;
  text-align: center;
  grid-template-columns: auto 80% auto;
}

.appContent {
  display: grid;
  grid-template-columns: auto 60% auto;
}

.insights {
  text-align: left;
}

.insight {
  display: flex;  
}

.insightTitle {
  border-bottom: solid lightgray;
  margin-bottom: 5px;
}

.insightContent {
  margin-bottom: 40px;
}

.insightOptions {
  width: 100px;
}