.appBody {
  display: grid;
  text-align: center;
  grid-template-columns: auto 75% auto;
}

.appContent {
  display: grid;
  grid-template-columns: auto 60% auto;
}

.insights {
  text-align: left;
}

.insight {
  display: flex;
  border-top: thick black;
  border-bottom: thick black;
}

.selectedInsight {
  display: flex;
  background-color: lightgray;  
}

.insightTitle {
  border-bottom: solid lightgray;
  margin-bottom: 5px;
}

.insightContent {
  margin-bottom: 40px;
}

.insightOptions {
  width: 100px;
}

.appOptionsGroups {
  text-align: left;
  margin-bottom: 300px;
}

.appOptionsKeywords {
  text-align: left;
}

.keyword {
  display: flex;
  margin: 1px;
}